<form [formGroup]="formGroup" (submit)="onSubmit(formGroup)" novalidate>
	<!-- X -->
	<div formArrayName="formArray1">
		<div *ngFor="let X of f.formArray1['controls']; let ix=index">
			<div formGroupName="{{ix}}" class="formArray1">
				<input type="text" formControlName="X">
        <p *ngIf="X['controls'].X?.errors?.required">X is required</p>
        <p *ngIf="X['controls'].X?.errors?.pattern">Error pattern</p>
				<!-- Y -->
				<div formArrayName="formArray2">
					<div *ngFor="let Y of X['controls'].formArray2['controls']; let iy=index">
						<div formGroupName="{{iy}}" class="formArray2">
							<input type="text" formControlName="Y1">
              <p *ngIf="Y['controls'].Y1?.errors?.required">Y1 is required</p>
              <p *ngIf="Y['controls'].Y1?.errors?.pattern">Error pattern</p>
              <br/>
							<input type="text" formControlName="Y2">
              <p *ngIf="Y['controls'].Y2?.errors?.required">Y2 is required</p>
              <p *ngIf="Y['controls'].Y2?.errors?.pattern">Error pattern</p>
							<!-- Z -->
							<div formArrayName="formArray3">
								<div *ngFor="let Z of Y['controls'].formArray3['controls']; let iz=index">
									<div formGroupName="{{iz}}" class="formArray3">
										<input type="text" formControlName="Z">
                    <p *ngIf="Z['controls'].Z?.errors?.required">Z is required</p>
              <p *ngIf="Z['controls'].Z?.errors?.pattern">Error pattern</p>
									</div>
								</div>
								<input type="button" (click)="addZ(ix,iy)" value="Add Z">
							</div>
							<!-- Z End -->

						</div>
					</div>
					<input type="button" (click)="addY(ix)" value="Add Y">
				</div>
				<!-- Y End-->
			</div>
		</div>
		<input type="button" (click)="addX()" value="Add X">
	</div>
	<!-- X End -->
  <button type="submit">SUBMIT</button>
<form>

<h5>Form group is
  <span [ngStyle]="{'color': this.formGroup.valid ? 'green' : 'red'}">{{this.formGroup.valid ? 'Valid' : 'Invalid'}}</span>
</h5>
<h5>Field Values</h5>
<pre style="font-size:12px">{{ formGroup.value | json }}</pre>